{"filter":false,"title":"GitAutoDeploy.conf.json.example","tooltip":"/GitAutoDeploy.conf.json.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":13,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1413333351605,"hash":"437f7edda1ef9146b8ae57a10d8bb7709c0f7b4d"}